{% extends "chefsite/base.html" %}

<!-- todo: show detailed view on this page so user can see the item being deleted -->
{% block title %}<!-- todo: or show as an alert! -->
<!-- todo: use modals for these and all forms if time permits-->
    <h1>Are you sure you want to delete the following?</h1>
    <br>
<h5>Name: <strong>{{ object.name }}</strong> with Code: <strong> {{object.code}} </strong></h5>
{% endblock %}

{% block content %}

    <form method="POST">{% csrf_token %}

        <input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}">
            <button class="btn btn-secondary" type="submit" name="cancel" value="Cancel">Cancel</button>
            <button class="btn btn-danger" type="submit" name="confirm" value="Delete">Yes, delete</button>
        </form>
{% endblock %}