{% extends "chefsite/base.html" %}

{% block title %}
    <h1>{{ title }}</h1>
    <h4>{{ subtitle }}</h4>
{% endblock %}

{% block content %}

<form method='POST' action='' enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>

<!-- CREATE SLUG FROM CODE (PK) (only if creating new - ignores if updating existing: https://www.w3.org/Provider/Style/URI) -->
{% if request.path == '/supplyitem-new/' %}<!-- creating a new supplyitem -->
    <script src="../../static/supplyitems/createslugfromid.js"></script>
{%  endif %}

{%  endblock %}