{% extends "chefsite/base.html" %}

{% block title %}<!-- todo: or show as an alert! -->
<h1>{{title}}</h1>
{% endblock %}

{% block content %}

    <!-- If No object --> <!-- todo: this probably won't show -->
    {% if not object %}
        {% include 'chefsite/no-items.html' with title="item to update" %}
    {% else %}
    <!-- Output object -->
        <div class="mx-auto" style="display:table">
                {% include 'chefsite/item.html' with item=object card_type=card_type detail=True has_stock_form=has_stock_form %}
        </div>
    {% endif %}

{% endblock %}