                                    <!--todo: Items running low, (use warning formatting) -->
<!--todo: resize to any size on detailed-->
                <!-- if empty stock shows card a different colour -->
<!-- CARDS ARE LINKS TO DETAILED VIEW -->
    <!-- USES DETAILED VIEW IF SELECTING FROM SUPPLYITEMS LIST --><!-- USES STOCK DETAILED VIEW IF SELECTING FROM STOCK LIST -->

<!-- On Click triggers detailed modal - works only in list view (not on detailed page) -->
{% if detail == False %}
    <a href="id= "myModal" data-bs-toggle="modal" data-bs-target="#{{item.code}}-modal" style="text-decoration:none">
        <abbr title="{{card_tooltip_message}}" style="text-decoration:none; cursor: inherit;">
{% endif %}

    <!-- Card Content -->
    {% include 'chefsite/item-details.html' %}

{% if detail == False %}
        </abbr>
    </a>

<!-- DETAILED VIEW MODAL -->
   <div class="modal fade" id="{{item.code}}-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="pointer-events:all">
    <!-- DETAILED VIEW -->
            <div class="mx-auto" style="display:table">
                {% include 'chefsite/item-details.html' with item=item detail=True %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% if card_type == "stock" %}
                        <button type="button" class="btn btn-primary">Save changes</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}