<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid" style="margin: 0 10%">
    <a class="navbar-brand" href="{% url 'home' %}">Chef Site</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <!-- NAV LINKS -->

        <!--Running Low-->
        <li><a class="nav-link" href="{% url 'list_stock_low' %}">Running Low</a>
        </li>

        <!-- Recently Refilled-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_stock_refilled' %}">Recently Refilled</a>
        </li>

        <!--All Stock-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_stock' %}">All Stock</a>
        </li>


        <!--Supply Items-->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_supplyitems' %}">&nbsp; &nbsp;| &emsp;  Supply Items &nbsp;</a>
        </li>


        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_supplyitem' %}">
              <img src ="../../../static/supplyitems/new-supplyitem.png">
          </a>
        </li>
      </ul>


      </ul>
    </div>
<!--      <form class="d-flex" role="search" action="/search/">-->
<!--        <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
  </div>
</nav>